/*!
 * Everest Dot Org https://everest.org
 * Copyright 2016-2020 Everest Network Ltd.
 */

 p {
   font-family: "Arial", Helvetica, sans-serif;
 }

 body {
  background-image: url("home-bg.jpg");
  background-color: #cccccc;
 }


 div {
   width: 70px;
   height: 300px;
   border: 1px solid #c3c3c3;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
 }

label {
  font-weight: bold;
  font-size: 16px;
}

#submit_button {
  background-color: #B22222;
  height: 30px;
  width: 20%;
  color: #FFFFFF;
  font-weight: bold;
}

input, textarea {
  background-color: #D3D3D3;
  color: #2F4F4F;
  width: 250px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 2px 2px #696969;
}
